<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<appSettings>
		<add key="Var_01MRS" value="HBL202/2023/"/><!--Senders Ref-->
		<add key="Var_02MRS" value="1006"/><!--DOC_TYP_SK-->
		<add key="Var_03MRS" value="HABBMVMV"/><!--HBL Maldives BIC-->
		<add key="Var_04MRS" value="7123456789"/><!--HBL Maldives ACCOUNT No-->
		<add key="Var_05MRS" value="786"/><!--DrTrxCode-->
    <add key="Var_06MRS" value="586"/><!--CrTrxCode-->
    <add key="Var_07MRS" value="MT202"/>
	</appSettings>
</configuration>
